<h1> user menu </h1>

<%= link_to "Switch to Posts view", user_fb_items_path(current_user.id, :items => "posts") %> <br>
<%= link_to 'Switch to Photos view', user_fb_items_path(current_user.id, :items => "photos") %>